@model List<Article>

<div class="blog-list">
    <h2>Blog Listesi</h2>
    @foreach (var item in Model)
    {
        <div class="blog-item">
            <img src="@item.CoverImageUrl" alt="Blog 3 Kapak">
            <a href="https://example.com/blog3" target="_blank">@item.Title</a>
            <p>@item.Description</p>
        </div>
    }

</div>

