@model Article

<div>
    <h2>Last Blog</h2>
    <img src="@Model.CoverImageUrl" alt="Article Image" class="img-fluid" style="width: 100%; height: auto;" />
    <br />
    <h3>@Model.Title</h3>
    <a href="#" class="btn btn-warning">Read Article</a>
</div>